
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Index Page</h2>


<div id="CustomerDiv" class="container"></div>

@section Scripts{

    <script src="~/Scripts/react/dist/customer_bundle.js"></script>
}

