
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div id="productSoldDiv"></div>



@section Scripts{
    <script src="~/Scripts/react/dist/productsold_bundle.js"></script>
    }