
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>React Project</h2>
<div id="main"></div>

@section Scripts{

    <script src="~/Scripts/react/dist/entry_bundle.js"></script>
}

